<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
    <form action="./plus_form" method="get">
        <input type="text" id="p1" name="p1" value="<%=p1%>">+
        <input type="text" id="p2" name="p2" value="<%=p2%>">
        <input type="submit" value="=" id="exe">
        <input type="text" id="result"  value="<%=res%>">
    </form>
</body>
</html>